<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <!--数据库配置-->
  <LinkString>Server = 127.0.0.1;Database = SLEC_Carpark_DTXJQ;User ID = sa;Password = sa123;Trusted_Connection = False;</LinkString>
  <BaseTable>CP_InOutCar</BaseTable>
  <!--远程接口地址-->
  <RemoteInterface>http://114.55.136.29:3000/admin/insertCar</RemoteInterface>
  <!--主事件轮询间隔,默认1800秒-->
  <DBCacheRate>30</DBCacheRate>
</Config>